/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
 */
.home {
    background-color: var(--firstBGColorBlack);
    height: 100%; 
}

.home__nav {
    height: 20vh;
    margin-bottom: 1em;
}

.home__container0 {
    margin: 5em;
    height: 80vh;
    margin-bottom: 1rem;
}

.home__container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
    padding: 2em;
}

.home__teatle--h1 {
    animation: fluido 30s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: 900;
}

@keyframes fluido {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.home__teatle--h2 {
    font-size: 40px;
    filter: drop-shadow(0 0 10px #ee7752) drop-shadow(0 0 10px #e73c7e) drop-shadow(0 0 10px #23a6d5) drop-shadow(0 0 10px #23d5ab);
    animation: fluido 30s ease-in-out infinite;
    padding:1em;
}

.home__p1,
.home__p2{
    color: var(--firstFontColorWhiteBlue);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagenes /// carrusel */

.home__list--js,
.home__list--html,
.home__list--css,
.home__list--react,
.home__list--node,
.home__list--github {
    width: 200px;
    background-color: white;
    margin: 1em;
}

.home__carrusel {
    padding: 1em;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* footer */
.home__footer {
    height: auto;
/*     padding-top: 5em; */
    margin-top: 50vh;
}
