.nav {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    margin: 1em;
    background-color: var(--firstBGColorBlack);
}

.nav__slogan {
    width: 200px;
    /* margin: 1em; */
    filter: invert(1)
}

.nav__containLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
}

.nav__link {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color 1s ease, opacity 1s ease;
}

/* Difuminar los demás enlaces cuando se pasa el mouse sobre uno de ellos */
.nav__containLinks:hover .nav__link {
    color: red;
    opacity: 0.2;
}

/* Restablecer la opacidad del enlace activo */
.nav__containLinks:hover .nav__link:hover {
    color: red;
    opacity: 0.8;
}

.nav__link--home,
.nav__link--aboutMe,
.nav__link--skills,
.nav__link--projects,
.nav__link--contactMe{
    color: var(--firstFontColorWhiteBlue);
}