.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1em; */
    /* padding: 1em; */
    background-color: var(--firstBGColorBlack);
}

.footer__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
}

.footer__slogan {
    width: 200px;
    filter: invert(1);
}

.footer__listIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.footer__listIcon:hover img {
    transform: scale(1.2); 
    filter: invert(0.7);
    box-shadow: 0 0 10px 0 var(--firstFontColorWhiteBlue); 
}

.footer__btn--contact {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--secondBGColorWhiteBlue);
    color: var(--secondFontColorDarkBlue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.3s ease;
}

.footer__btn--contact:hover {
    background-color: var(--violet);
    color: var(--secondBGColorWhiteBlue);
}

.footer__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    margin-right: 1em;
}

.footer__listContacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 1rem; */
}

.footer__listContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__listContact img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.footer__listContact--pWhatsapp,
.footer__listContact--pLinkedin,
.footer__listContact--pEmail{
    color: var(--firstFontColorWhiteBlue);
    font-size: 20px;
}


.footer__listContact:hover .footer__listContact--imgWhatsapp,
.footer__listContact:hover .footer__listContact--imgLinkedin,
.footer__listContact:hover .footer__listContact--imgEmail {

    transform: scale(1.2); filter: invert(0.7); 
    box-shadow: 0 0 10px 0 var(--firstFontColorWhiteBlue); 
}

