@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Jost', sans-serif;
  --box-sizing: border-box;
  /* Colors BG */
  --firstBGColorBlack: rgb(0, 0, 0);
  --secondBGColorWhiteBlue: rgb(230, 255, 255);
  /* Colors Fonts */
  --firstFontColorWhiteBlue: rgb(181, 189, 217);
  --secondFontColorDarkBlue: rgb(15, 18, 68);
  /* Transition color */
  --violet: rgb(105, 0, 205);
  --rainbow: linear-gradient(70deg, red, orange, yellow, green, blue, indigo, violet);
}

/**--Reset--**/
* {
  box-sizing: var(--box-sizing);
}

html{
  font-family: var(--font-family);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
}

input {
  font-family: inherit;
  outline: none;
  border: none; /* Borde de la caja del input */
}

button {
  font-size: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: var(--secondFontColorDarkBlue);
}

a:visited {
  color: var(--secondFontColorDarkBlue);
}