.proyectos {
    max-width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.proyectos__container {
    padding: 3em;
    background-color: var(--secondBGColorWhiteBlue);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3em;
    color: var(--secondFontColorDarkBlue);
}

.proyecto__title {
    text-align: center;
}

.proyecto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.proyecto__container--icons {
    display: flex;
    margin: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.proyecto__container--img {
    padding: 2em;
    margin: 2em;
}

/* ------------ */
/* 
.proyectos {
    max-width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.proyectos__container {
    display: flex;
    padding: 3em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.proyecto__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.proyecto {
    margin-bottom: 20px;
}

.proyecto__container {
    list-style-type: none;
}

.proyecto__containerlist--img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.proyecto__container--description {
    margin-top: 10px;
    color: #555;
}

.proyecto__container--icons {
    display: flex;
    margin-top: 10px;
}

.proyecto__icons {
    margin-right: 10px;
}

.proyecto__icons img {
    max-width: 30px;
    height: auto;
} */